#Products {
  width: 100%;
  min-height: 2000px;
  .productsSection {
    width: 70%;
    min-height: 2000px;
    margin: auto;
    .ProductsHead{
      font-size: 22px;
      margin-bottom: 20px;
    }
    .ProductsFilter{
      display: flex;
      justify-content: space-between;
      .filterList{
        display: flex;
        gap: 20px;
        li{
          cursor: pointer;
        }
      }
    }
    .ProductsContainer {
      display: grid;
      grid-template-columns: auto auto auto;
      justify-content: space-between;
      .product {
        width: 300px;
        height: 400px;
        box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
          rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
        margin-top: 40px;
        .productsImg {
          border-bottom: 1px solid lightgray;
          max-width: 100%;
          transition: 500ms;
        }
        .productsImg:hover{
            transform: scale(1.1, 1); 
          
          }
        .prodName {
          display: flex;
          justify-content: space-between;
          h4{
            font-size: 14px;
            color: #999999;
            font-weight: 100;
            transition: 300ms;
            cursor: pointer;
          }
          h4:hover{
            color: #717fe0;
          }
          i {
            font-size: 20px;
            transition: 300ms;
            cursor: pointer;
          }
          i:hover{
            color: red;
          }
        }
        p {
          margin-top: 10px;
        }
      }
    }
  }
}
